@{
    ViewBag.Title = "Generar Entregas";
}

<h2>Generar Entregas</h2>

<fieldset>
    <legend>GenerarEntrega</legend>
    <div class="editor-label">
        ¿Generar las entregas para la fecha?
    </div>

    <div class="editor-label">
        <input type="radio" id="fechaHoy" name="fecha" value="hoy" checked /> Hoy
    </div>

    <div class="editor-label">
        <input type="radio" id="fechaEspecifica" name="fecha" value="fechaEspecifica" /> Fecha Especifica :
        <input type="text" id="fechaGeneracion" name="fechaGeneracion"/>
    </div>

    <div class="editor-field" style="padding-top: 10px;">
        <input type="button" value="Aceptar" onclick="aceptar();" />
        <a href="@Url.Action("Index", "Entrega")">
            <input type="button" value="Cerrar"/>
        </a>
</div>

</fieldset>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            $('#fechaGeneracion').datepicker({ dateFormat: "dd/mm/yy" });
           
        });

        var aceptar = function () {

            var r = confirm("¿Generar Entregas?");

            if (r == true)
            {

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("ProcesarEntrega", "Entrega")",
                    data: {},
                cache: false,
                dataType: "json",
                success: function (data) {
                    if (data.Message == 1) {
                        alert('Entregas generadas satisfactoriamente.');
                    }
                    else {  
                        alert('Error, no se pudo culminar el proceso');
                    }
                }
             });

            }
            
        };

    </script>
}


