@{
    ViewBag.Title = "Logística";
}

<h2>Logística</h2>

<ol class="round">
    <li class="one"><h4>@Html.ActionLink("Generación de guía de entrada", "Almacenes", "GuiaEntrada")</h4>
    </li>
    <li class="two"><h4>@Html.ActionLink("Generación de guía de salida", "Almacenes", "GuiaSalida")</h4>
    </li>
</ol>
